@aspect-ratio:  (min-aspect-ratio : 1/1);

.panelBtn.skewPanel{
    transform: skewY(-10deg);
    position: relative;
    //
    float: left;
    width: 100vw;
    height: 33vh;
    overflow: hidden;

    .unskewPanel{
        transform: skewY(10deg);
        position: relative;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .skewBackground{
        position: absolute;
        width: 150%;
        height: 150%;
        margin: auto;
        left: -25%;
        top:-25%;
        pointer-events: none;
    }
    
    .navBtn{
        position: relative;
        display: table;
        margin: auto;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        border: none;
        background: none;
        color: white;
        pointer-events: none;
        padding-left: 2vw;
        .navBtnHeader{
            position: relative;
            font-weight: 100;
            font-size: 10vw;
            text-align: left;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            pointer-events: none;
        }
        .tagLine{
            position: relative;
            font-weight: 100;
            padding: 0;
            margin: 0;
            margin-left: 3px;
            pointer-events: none;
        }
        
    }
    .navRule{
        position: relative;
        width: 3vw;
        padding: 0;
        margin: 0;
        pointer-events: none;
    }
    @media @aspect-ratio  { 
        
        transform: skewX(-10deg);
        //
        float: left;
        width: 33%;
        height: 100vh;
        
        .unskewPanel{
            transform: skewX(10deg);
        }
        .navBtn{
            .navBtnHeader{
                position: relative;
                font-weight: 100;
                font-size: 4vw;
                text-align: left;
                padding: 0;
                margin: 0;
                text-transform: uppercase;
            }
        }
        
     }
}


#Work{
    padding-top:15px;
    @media @aspect-ratio {  padding-top:0px; }

    .skewBackground{
        background-color: #02466a;
    }
    .navRule{
        margin-left: 5px;
        margin-bottom: 7px;
    }
}
#About{
    .skewBackground{
        background-color: #013e5f;
    }
    .navRule{
        margin-left: -1px;
        margin-bottom: 7px;
    }
}

#Contact{
    .skewBackground{
        background-color: #0f434b;
    }
    .navRule{
        margin-left: 1px;
        margin-bottom: 7px;
    }
}



